name: Node.js CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x, 17.x, 18.x, 19.x, 20.x, 21.x, 22.x]

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - uses: denoland/setup-deno@v1
        with:
          deno-version: 2.x
      - name: Run dnt & minify
        run: |
          npm install -g esbuild
      - name: Run dnt & minify for /common
        working-directory: ./packages/common
        run: |
          deno task dnt
          deno task minify > ../../npm/packages/common/hpke-common.min.js
      - name: Publish to npm (dry) for /packages/common
        working-directory: ./npm/packages/common
        run: npm publish --dry-run
      - name: Run dnt & minify for /core
        working-directory: ./packages/core
        run: |
          deno task dnt
          deno task minify > ../../npm/packages/core/hpke-core.min.js
      - name: Publish to npm (dry) for /packages/core
        working-directory: ./npm/packages/core
        run: npm publish --dry-run
      - name: Run dnt & minify for /packages/chacha20poly1305
        working-directory: ./packages/chacha20poly1305
        run: |
          deno task dnt
          deno task minify > ../../npm/packages/chacha20poly1305/hpke-chacha20poly1305.min.js
      - name: Publish to npm (dry) for /packages/chacha20poly1305
        working-directory: ./npm/packages/chacha20poly1305
        run: npm publish --dry-run
      - name: Run dnt & minify for /packages/dhkem-x25519
        working-directory: ./packages/dhkem-x25519
        run: |
          deno task dnt
          deno task minify > ../../npm/packages/dhkem-x25519/hpke-dhkem-x25519.min.js
      - name: Publish to npm (dry) for /packages/dhkem-x25519
        working-directory: ./npm/packages/dhkem-x25519
        run: npm publish --dry-run
      - name: Run dnt & minify for /packages/dhkem-x448
        working-directory: ./packages/dhkem-x448
        run: |
          deno task dnt
          deno task minify > ../../npm/packages/dhkem-x448/hpke-dhkem-x448.min.js
      - name: Publish to npm (dry) for /packages/dhkem-x448
        working-directory: ./npm/packages/dhkem-x448
        run: npm publish --dry-run
      - name: Run dnt & minify for /packages/hybridkem-x25519-kyber768
        working-directory: ./packages/hybridkem-x25519-kyber768
        run: |
          deno task dnt
          deno task minify > ../../npm/packages/hybridkem-x25519-kyber768/hpke-hybridkem-x25519-kyber768.min.js
      - name: Publish to npm (dry) for /packages/hybridkem-x25519-kyber768
        working-directory: ./npm/packages/hybridkem-x25519-kyber768
        run: npm publish --dry-run
      - name: Run dnt & minify for /packages/dhkem-secp256k1
        working-directory: ./packages/dhkem-secp256k1
        run: |
          deno task dnt
          deno task minify > ../../npm/packages/dhkem-secp256k1/hpke-dhkem-secp256k1.min.js
      - name: Publish to npm (dry) for /packages/dhkem-secp256k1
        working-directory: ./npm/packages/dhkem-secp256k1
        run: npm publish --dry-run
      - name: Run dnt & minify for /packages/hpke-js
        working-directory: ./packages/hpke-js
        run: |
          deno task dnt
          deno task minify > ../../npm/packages/hpke-js/hpke.min.js
      - name: Publish to npm (dry) for /packages/hpke-js
        working-directory: ./npm/packages/hpke-js
        run: npm publish --dry-run
